<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body>
    <div class="container-outer">
      <div class="main-container">
        <div class="login-container">
          <form class="validate-form login-form">
            <span *ngIf="loginFailed" style="color: brown;">Login failed - email/password is incorrect</span>
            <span class="form-title">Welcome</span>
            <!-- <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is: a@b.c"
            >
              <input class="input100" type="text" name="email" />
              <span class="focus-input100" data-placeholder="Email"></span>
            </div> -->
            <input
            class="lastname"
            type="text"
            name="l_name"
            [(ngModel)]="email"
            placeholder="Email"
            required=""
          />

            <!-- <div
              class="wrap-input100 validate-input"
              data-validate="Enter password"
            >
              <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
              </span>
              <input class="input100" type="password" name="pass" />
              <span class="focus-input100" data-placeholder="Password"></span>
            </div> -->
            <input
            class="lastname"
            type="password"
            name="l_name"
            [(ngModel)]="pass"
            placeholder="Password"
            required=""
          />

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" (click)="this.loginUser()">Login</button>
              </div>
            </div>
            <div>
              <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
            </div>
            <div class="text-center">
              <span class="txt1"> Don’t have an account? </span>

              <button
                mat-stroked-button
                color="accent"
                class="btn-block"
                (click)="this.goToSignUp()"
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
