<!DOCTYPE html>
<html>
  <head>
    <title>Slide Navbar</title>
    <!-- <link rel="stylesheet" type="text/css" href="slide navbar style.css"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />

      <div class="signup">
        <form>
          <span *ngIf="loginFailed" style="color: brown;">Login failed - email/password is incorrect</span>

          <label for="chk" aria-hidden="true">Sign up</label>
          <!-- <div style="margin-left: 90px;"> -->
          <input
            class="Full name"
            type="text"
            name="f_name"
            [(ngModel)]="uname"
            placeholder="First Name"
            required=""
          />
          <!-- <input
              class="lastname"
              type="text"
              name="l_name"
              placeholder="Last Name"
              required=""
            /> -->
          <!-- </div> -->

          <!-- <input type="text" name="txt" placeholder="User name" required="" /> -->
          <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required="" />
          <input
            type="password"
            name="pswd"
            [(ngModel)]="pass"
            placeholder="Password"
            required=""
          />
          <input type="number" name="phone" [(ngModel)]="phone" placeholder="Phone" required="" />
          <div style="position: relative;" (click)="this.signUpUser()">
            <button type="button">Sign up</button>
          </div>
          
          <span style="margin-left: 180px" class="txt1"
            >Already have an account?</span
          >
          <button (click)="this.goToLogin()">Login</button>
        </form>
      </div>

      <!-- <div class="login">
        <form>
          <input type="email" name="email" placeholder="Email" required="" />
          <input
            type="password"
            name="pswd"
            placeholder="Password"
            required=""
          />
          <button>Login</button>
        </form>
      </div> -->
    </div>
  </body>
</html>
