<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            /* background-image: url("background.jpg"); */
            max-width: 500px;
            margin: Auto;
            background-size: cover;
            width: 150px;
            height: 150px;
        }
    </style>
</head>

<body style="text-align:center">
    <h1>Internship Project</h1>
    <form action="/action_page.php">

        <meta charset="utf-8">
        <title>Profile Page</title>

        <label for="fname">Full name:</label>
        <input type="text" id="fname" name="fname" [(ngModel)]="fullName" value="John" align="left"><br><br>
        
        
        <label for="email">Email:</label>
        <input type="email" id="lname" name="email" [(ngModel)]="email" value="Johnanitha@gmail.com"><br><br>
        
        <label for="phone">Phone no:</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="phone" pattern="[0-9]{10}" required><br><br>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="password" [(ngModel)]="password" minlength="8" required> <br><br>

        <div class="upload">

            <div class="round">
                <input type="file" accept="image/*" name="image" id="imgFile" onchange="loadFile(event)">
                <p><img id="output" width="200" [src]="displayedImage" /></p>
                <div class="buttons">
                    <div class="action_btn">
                        <button name="submit" class="action_btn submit" value="Submit"
                            (click)="updateUser()">Submit</button>
                        <button name="Signout" class="action_btn Signout" type="submit" value="Signout"
                            (click)="signoutUser()">Sign Out</button>
                            <button name="Signout" class="action_btn Signout" type="submit" value="Signout"
                            (click)="deleteUser()">Delete User</button>

                        <p id="saved"></p>

                    </div>

                </div>



            </div>
        </div>
</form>
</body>

</html>